<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap"
      rel="stylesheet"
    />
    <title>BikeShop - Shop</title>
    <script
      src="https://kit.fontawesome.com/a41e9403cf.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <!-- header -->
    <div class="row">
      <nav class="navbar navbar-light bg-dark col-12 py-0">
        <a class="navbar py-0" href="/">
          <img
            src="/images/bike-logo.svg"
            width="60"
            height="60"
            class="logo"
            alt=""
          />
          <p class="mb-0">The Bike Shop Experience</p>
        </a>
      </nav>
    </div>
    <div class="row">
      <nav aria-label="breadcrumb" class="col-12 my-3">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/">Shop</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Basket</li>
        </ol>
      </nav>
    </div>

    <h1 class="ml-4 mb-3">Basket</h1>
    <% if ( dataCardBike.length === 0) { %>
    <div class="row">
      <div class="col-12">
        <h2 class="text-danger font-italic ml-4 mb-3">Votre panier est vide</h2>
      </div>
    </div>
    <% } else { %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Picture</th>
          <th scope="col">Model</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Frais de port</th>
          <th scope="col">Total</th>
          <th scope="col">Suppr</th>
        </tr>
      </thead>
      <tbody>
        <% var fraisPortTotal = 0; %><% for(var i = 0; i < dataCardBike.length;
        i++ ) { var prixRow = (dataCardBike[i].prix * dataCardBike[i].quantite)
        + (dataCardBike[i].fraisdePort * dataCardBike[i].quantite);
        fraisPortTotal += dataCardBike[i].fraisdePort * dataCardBike[i].quantite
        %>
        <tr class="bg-light text-dark">
          <th scope="row"><%= i + 1 %></th>
          <td>
            <img
              src="<%= dataCardBike[i].urlImage %>"
              alt="bike-1"
              class="basket-img"
            />
          </td>
          <td><%= dataCardBike[i].nomVelo %></td>
          <td>
            <form class="form-inline" action="/update" method="POST">
              <input
                class="form-control mr-2"
                type="text"
                name="quantite"
                value="<%= dataCardBike[i].quantite %>"
                placeholder="Add value"
              />
              <input type="hidden" name="position" value="<%= i %>" />
              <button type="submit" class="btn btn-outline-info">
                <i class="fas fa-sync-alt"></i>
              </button>
            </form>
          </td>
          <td><%= dataCardBike[i].prix %>€</td>
          <td>
            <%= dataCardBike[i].fraisdePort * dataCardBike[i].quantite %>€
          </td>
          <td><%= prixRow %>€</td>
          <td>
            <a href="/delete?id=<%= i %>">
              <button type="button" class="btn btn-outline-info">
                <i class="far fa-trash-alt"></i></button
            ></a>
          </td>
        </tr>
        <% } %>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-weight-bold py-3">Total Basket</td>
          <td class="font-weight-bold py-3">
            <%= prixTotal + fraisPortTotal %>€
          </td>
          <% if(fraisPortTotal === 0) { %>
          <td class="font-weight-bold text-success py-3">
            Frais de port offert !
          </td>
          <% } else { %>
          <td></td>
          <% } %>
        </tr>
      </tbody>
    </table>
    <div class="row justify-content-end col-12">
      <button
        id="checkout-button"
        name="checkout-button"
        class="btn btn-outline-info"
      >
        Checkout
      </button>
    </div>
    <% } %>
    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jiz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="javascripts/script.js"></script>
  </body>
</html>
